.menu{
    font-family: 'Courier New', Courier, monospace;
    background-color: #0a8871;
    position: relative;
}
.menu_list{
    display: block;
    text-align: end;
    list-style-type: none;
    padding: 25px 100px;
}
.menu_list_items{
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    color: #fff;
}
.menu_list_items:hover{
    color: bisque;
}
.header{
    position: absolute;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    user-select: none;
    position: fixed;
    text-align: start;
    padding-top: 20px;
    padding-left: 25px;
    color: bisque;
    font-size: 25px;
}
@media screen and (max-width: 768px) {
    .menu{
        display: block;
        min-width: fit-content;
    }
}