.menu{
    font-family: 'Courier New', Courier, monospace;
    background-color: #0a8871;
}
.menu_list{
    display: block;
    text-align: end;
    list-style-type: none;
    padding: 25px 100px;
}
.menu_list_items{
    text-decoration: none;
    padding: 5px;
    color: #fff;
}
.menu_list_items:hover{
    color: bisque;
}
.header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    text-align: start;
    padding-top: 20px;
    padding-left: 25px;
    color: bisque;
    font-size: 25px;
}